# Vim files
*.swp
*.vim/

# MacOS files
.DS_Store

# Python environment
env/

# Python cache files
__pycache__

# Dataset folder
data/*

# Model checkpoints
saves/*

# Keep essential folders
!.gitkeep
