/************************************ General ************************************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

h1 {
    font-size: 24px;
    color: #222;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 78px;
}

.container {
    text-align: center;
}

/*********************************** Text area ***********************************/
.textarea-container {
    position: relative;
}

textarea {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    height: 300px;
    resize: none;
}

textarea.blurry {
    filter: blur(8px);
}


/*********************************** Submit ***********************************/
input[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
    width: 100px;
}

/*********************************** Result ***********************************/
.result {
    font-size: 40px;
    color: #11d445;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
